.wrapper {
	margin: auto;
	width: 82%;
}

.header {
	padding: 40px 0 38px 25px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 130px;
}

.logo {
	background: url('img/logo.svg');
	width: 190px;
	height: 35px;
}

.menu {
	display: flex;
	align-items: center;
	margin-right: 30px;
}

.menu__item {
	position: relative;
	margin-right: 26px;
	font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
	text-decoration: none;
	cursor: pointer;
	color: #000;
}

.menu__item:after {
	position: absolute;
	display: block;
	content: "";
	left: 0;
	width: 0;
	height: 2px;
	background: #0056EC;
	opacity: 0;
	transform: opacity .5s, width .5s;
}

.menu__item:hover {
	opacity: .5;
}

.menu__item:hover:after, .menu__item_active:after {
	opacity: 1;
	width: 100%;
}

.menu__item:last-child {
	margin-right: 0;
}

.main {
	padding: 72px 56% 200px 23px;
	background: url(img/image.svg) top right 25px no-repeat;
	margin-bottom: 70px;
}

.main-text__title {	
	background: #feffff;
	background: linear-gradient(to bottom,  #feffff 0%,#ecf3ff 51%,#ffffff 98%);
}

.main__title {
	font: bold 66px/87px pt_serif, arial, helvetica, sans-serif;
	margin: 0 0 36px 0;
}

.main__subtitle {
	font: 22px/26px robotoregular, arial, helvetica, sans-serif;
	margin: 0 200px 43px 0;
}

.main__button {
	display: inline-block;
	font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
	padding: 18px 31px 18px 25px;
	color: #FFF;
	background: #0056EC;
	text-decoration: none;
	border-radius: 4px;
	animation-name: move;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes move {
  0% {
      opacity: 25%;
  }
  100% {
      opacity: 100%;
  }
}

.main__button:hover {
	opacity: .5;
	transition: .5s;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer_circle {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #C8DBFB;
	opacity: 0.7;
	margin-right: 4px;
}

#menu__toggle {
		display: none;
	}

	ul {
		display: none;
	}


@media (max-width: 1782px) {
	.wrapper {
		width: 72%;
	}

	.header {
		padding: 42px 0 38px 28px;
		margin-bottom: 80px;
	}

	.menu {
		margin-right: 33px;
	}

	.menu__item {
		font: 500 14px/16px robotomedium, arial, helvetica, sans-serif;
		margin-right: 25px;
	}

	.main {
		padding: 18px 56% 76px 27px;
		background: url(img/image1366.svg) top right 27px no-repeat;
	}


	.main__title {
		font: bold 50px/66px pt_serif, arial, helvetica, sans-serif;
	}

	.main__subtitle {
		font: 500 18px/21px robotoregular, arial, helvetica, sans-serif;
		margin: 0 40px 43px 0;
	}

	.main__button {
		font: 500 14px/16px robotomedium, arial, helvetica, sans-serif;
		padding: 14px 25px 14px 15px;
	}

	#menu__toggle {
		display: none;
	}

	ul {
		display: none;
	}

}


@media (max-width: 1308px) {
	.wrapper {
		width: 96%;
	}

	.header {
   		padding: 41px 0 38px 27px;
    	margin-bottom: 81px;
	}
	
	.menu {
    	margin-right: 30px;
	}

	.main__subtitle {
		margin: 0 40px 42px 0;
	}

	#menu__toggle {
		display: none;
	}

	ul {
		display: none;
	}

}


@media (max-width: 981px) {
	.menu {
		display: none;
	}

	.header {
    	margin-bottom: 28px;
   		padding: 24px 17px 0 16px;
	}

	.logo {
		background: url('img/logomobile.svg') no-repeat;
		width: 36px;
	}

	.main {
		text-align: center;
		padding: 72% 53px 0 59px;
		background: url(img/image.svg) top center no-repeat;
		background-size: 78%;
	}

	.main__title {
		font: bold 30px/40px pt_serif, arial, helvetica, sans-serif;
		margin-bottom: 32px;
	}

	.main__subtitle {
		font: 500 16px/19px robotoregular, arial, helvetica, sans-serif;
		margin: 0 0px 25px 0;
	}

	.main__button {
		animation-name: none;
	}

	#menu__toggle {
		opacity: 0;
	}

	.menu__btn {
		display: flex;
		align-items: center;
		position: fixed;
		top: 27px;
		right: 23px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 1;
	}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 3px;
		background: #0056EC;
	}

	.menu__btn > span::before {
		content: '';
		top: -7px;
	}

	.menu__btn > span::after {
		content: '';
		top: 7px;
	}

	.menu__box {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 370px;
		height: 100%;
		margin: 0;
		padding: 185px 0;
		list-style: none;
		text-align: center;
		background-color: #ECEFF1;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	}

	.menu__item_box {
		margin-bottom: 25px;
	}

	.menu__item {	
		font: 500 30px/35px robotomedium, arial, helvetica, sans-serif;		
	}

	.menu__item:hover {
		background-color: #CFD8DC;
	}

	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(45deg);
	}

	#menu__toggle:checked ~ .menu__btn > span::before {
		top: 0;
		transform: rotate(0);
	}

	#menu__toggle:checked ~ .menu__btn > span::after {
  		top: 0;
  		transform: rotate(90deg);
	}

	#menu__toggle:checked ~ .menu__box {
  		visibility: visible;
  		left: 0;
	}

	.burger {
		padding-top: 8px;
	}

	.burger_menu {
		width: 25px;
		height: 3px;
		background: #0056EC;
		margin-bottom: 4px;
	}

	.footer {
		display: none;
	}

 }
