.wrapper {
	margin: auto;
	width: 82%;
}

.header {
	padding: 40px 0 38px 25px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 192px;
}

.logo {
	background: url('img/logo.svg');
	width: 190px;
	height: 35px;
}

.menu {
	display: flex;
	align-items: center;
}

.menu__item {
	position: relative;
	margin-right: 26px;
	font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
	text-decoration: none;
	cursor: pointer;
	color: #000;
}

.menu__item:after {
	position: absolute;
	display: block;
	content: "";
	left: 0;
	width: 0;
	height: 3px;
	background: #0056EC;
	opacity: 0;
	transform: opacity .5s, width .5s;
}

.menu__item:hover {
	opacity: .5;
}

.menu__item:hover:after, .menu__item_active:after {
	opacity: 1;
	width: 100%;
}

.menu__item:last-child {
	margin-right: 0;
}

.main {
	padding: 11px 56% 150px 25px;
	background: url(img/image.svg) top right 10px no-repeat;
}

.main-text__title {
	background: #ECF3FF;
}

.main__title {
	font: bold 66px/87px pt_serif, arial, helvetica, sans-serif;
	margin: 0 0 36px 0;
}

.main__subtitle {
	font: 22px/25px robotoregular, arial, helvetica, sans-serif;
	margin: 0 200px 43px 0;

}

.main__button {
	display: inline-block;
	font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
	padding: 18px 25px;
	color: #FFF;
	background: #0056EC;
	text-decoration: none;
	border-radius: 4px;
}

.main__button:hover {
	opacity: .5;
	transition: .5s;
}